body {
  min-height: 100vh;
  margin: 0;
  background-image: url("/background.jpg");
  text-align: center;
}

.books-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 440px;
}

.book {
  background-image: url("/book.png");
  width: 400px;
  height: 600px;
  margin: 20px;
  font-family: "Apple Chancery", cursive, serif;
  font-style: italic;
  font-size: xx-large;
}

@media only screen and (min-width: 900px) {
  .books-container {
    width: 880px;
  }
}

@media only screen and (min-width: 1340px) {
  .books-container {
    width: 1320px;
  }
}

@media only screen and (min-width: 1780px) {
  .books-container {
    width: 1760px;
  }
}
