@font-face {
  font-family: WoodRelief;
  src: url("/WoodRelief.ttf");
}

@font-face {
  font-family: DancingScriptBold;
  src: url("/DancingScript-Bold.ttf");
}

body {
  min-height: 100vh;
  margin: 0;
  background-image: url("/background.jpg");
  text-align: center;
}

h1 {
  font-size: 72px;
  color: #806039;
  font-family: WoodRelief;
  font-variant: small-caps;
  font-weight: 100;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.books-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 440px;
}

.book {
  background-image: url("/book.png");
  width: 400px;
  height: 600px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #421a14f8;
  font-family: DancingScriptBold;
}

.book .author,
.book .title,
.book .publication-date,
.book .buttons {
  width: 340px;
  margin-left: 16px;
}

.book .author {
  margin-top: 70px;
  font-size: 40px;
  opacity: 0.75;
}

.book .title-container {
  height: 320px;
  display: flex;
  flex-direction: column;
  justify-content: center;
}

.book .title {
  font-size: 64px;
  opacity: 0.8;
  text-transform: capitalize;
}

.book .publication-date {
  font-size: 32px;
  opacity: 0.8;
}

.book .buttons {
  margin-bottom: 20px;
  display: flex;
  justify-content: space-between;
}

.book .buttons button {
  width: 100px;
  height: 40px;
  margin-left: 30px;
  margin-right: 30px;
  background-color: #80603985;
  color: #421a14f8;
  border: 1px solid #421a14a4;
  border-radius: 8px;
  outline: none;
  font-family: DancingScriptBold;
  font-size: 24px;
}

.book .buttons button:hover {
  background-color: #806039b6;
}

@media only screen and (min-width: 900px) {
  .books-container {
    width: 880px;
  }

  .book .buttons {
    visibility: hidden;
  }

  .book:hover .buttons {
    visibility: visible;
  }
}

@media only screen and (min-width: 1340px) {
  .books-container {
    width: 1320px;
  }
}

@media only screen and (min-width: 1780px) {
  .books-container {
    width: 1760px;
  }
}

@media (hover: none) {
  .book .buttons {
    visibility: visible;
  }
}
