@font-face {
  font-family: WoodRelief;
  src: url("/WoodRelief.ttf");
}

@font-face {
  font-family: DancingScriptBold;
  src: url("/DancingScript-Bold.ttf");
}

body {
  min-height: 100vh;
  margin: 0;
  background-image: url("/background.jpg");
  text-align: center;
}

h1 {
  font-size: 72px;
  color: #806039;
  font-family: WoodRelief;
  font-variant: small-caps;
  font-weight: 100;
}

#root {
  position: absolute;
  height: 100%;
  width: 100%;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100%;
}

.books-container {
  display: inline-flex;
  flex-wrap: wrap;
  flex-direction: row;
  justify-content: flex-start;
  width: 440px;
}

.book {
  background-image: url("/book.png");
  width: 400px;
  height: 600px;
  margin: 20px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  color: #421a14f8;
  font-family: DancingScriptBold;
}

.book .title {
  font-size: 64px;
  width: 340px;
  margin-left: 16px;
  text-transform: capitalize;
}

.book .author,
.book .publication-date {
  font-size: 40px;
  width: 340px;
  margin-left: 16px;
}

.book .author {
  margin-top: 20px;
}

.book .publication-date {
  margin-bottom: 20px;
}

@media only screen and (min-width: 900px) {
  .books-container {
    width: 880px;
  }
}

@media only screen and (min-width: 1340px) {
  .books-container {
    width: 1320px;
  }
}

@media only screen and (min-width: 1780px) {
  .books-container {
    width: 1760px;
  }
}
